
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    gap: 50px;
}

#winnerbox { 
    display: none;
    flex-direction: column;
    position: fixed;
    justify-content: center;
    align-items: center;
    width:600px;
    height: 600px;
    border:3px solid black;
    font-size: 100px;
    background-color: beige;
    top: 250px;
    opacity: 0.5;
}


.playercont {
    display: flex;
    gap: 200px;
}

.tickcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    
    width: 400px;
    height: 400px;
}

.tickitem {
    display: flex;
  
   
    justify-content: center;
    border: 2px solid rgb(221, 121, 54);
    height: 131px;
    width: 131px;
    align-items: center;
    
}

#turn {
    margin-top: -100px;
}
.buttons {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 100px;
}